*, *::before, *::after {
  box-sizing: border-box;
 }
 
 
 * {
  margin: 0;
  padding: 0;
 }
 
 
 body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
 }
 
 
 img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
 }
 
 
 input, button, textarea, select {
  font: inherit;
 }
 
 
 p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
 }
 
 
 button, a{
  cursor: pointer;
  }
 
 
 a{
    text-decoration: none;
 }
 
 fieldset{
  border: none;
 }
 ul{
  list-style: none;
 }

 button {
  background-color: transparent;
  border: none;
  outline: none;
}

img{
  max-height: 25px;
  max-width: 25px;
}

 /* Styling */

 :root{
  --body-background: #F3F4F6;
  --content-background:#FFFFFF;
  --btn-hover:#d4d4d6;
  --input-background: #e9eaeb;
  --outline-color: rgb(46, 120, 216);
  --form-btn-color: rgb(90, 87, 87);
  --required-color: rgb(78, 77, 77);
  --cv-shadow: 0px 0px 3px 2px rgb(206, 200, 200);
  --content-shadow:  1px 2px 3px 2px rgb(150, 149, 149);
  --template-loader-shadow:0 7px 29px 0 hsla(240, 5%, 41%, .2);
  --border-radius:12px;
  --top-space: 5vh;
  --gap: 30px;
  --current-color: rgb(10, 10, 207);
  --current-background-color: #EEF1F2;
  --current-font:serif;
  --top-gradient:linear-gradient(to bottom, var(--current-color) 50%, var(--content-background) 50%);
  --left-gradient:linear-gradient(to right, var(--current-color) 50%, var(--content-background) 50%);
  --right-gradient: linear-gradient(to left, var(--current-color) 50%, var(--content-background) 50%);
  --top-cv-gradient:linear-gradient(to bottom, var(--current-color) 14%, var(--content-background) 14%);
  --left-cv-gradient:linear-gradient(to right, var(--current-color) 45%, var(--content-background) 45%);
  --right-cv-gradient:linear-gradient(to left, var(--current-color) 45%, var(--content-background) 45%);
 }


.body{
  display: grid;
  grid-template-columns: 1fr 3.5fr 8fr;
  gap: var(--gap);
  padding: var(--top-space) var(--gap);
  max-width: 100vw;
  font-family: "Noto sans";
  background-color: var(--body-background)
}

.menu{
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--content-background);
  box-shadow: var(--content-shadow);
  height: fit-content;
  border-radius: var(--border-radius);
  padding: 12px;
}

.menu-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border-radius: var(--border-radius);
  min-width: 100%;
  transform: 0;
  transition: 
  background-color 0.3s,
  transform 0.3s;
  will-change: transform;
}

.menu-btn:hover{
  transform: scale(1.05);
}

.menu-btn.active{
  background-color: var(--btn-hover);
}

.menu-btn > p {
  font-weight: 600;
}

.info{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

.field{
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 40px;
  height: auto;
}

h2.title{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.place{
  background-color: var(--content-background);
  min-width: 100%;
  border-radius: var(--border-radius);
  padding: 26px;
  display: flex;
  flex-direction: column;
  /* box-shadow: var(--content-shadow); */
}

form{
  gap: 8px;
}

label > span{
  margin-left: 8px;
  font-size: 0.5rem;
  color: var(--required-color);
}

input[type="text"], textarea{
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--input-background);
  font-size: 0.8rem;
  padding:10px;
  outline: 2px solid transparent;
  transition: outline 0.3s;
}

input[type="text"]:focus, textarea:focus{
  outline: 2px solid var(--outline-color);
}

.arrow{
  margin-left: auto;
  transition: transform 0.3s;
}

.arrow.clicked{
  transform: rotate(180deg);
}

.fields-container{
  max-height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-in;
}

.fields-container.expanded{
  max-height: 1000px;
  opacity: 1;
}

.section{
  display: flex;
  align-items: center;
  padding: 12px 6px;
  transition: background-color 0.3s;
  border-radius: 10px;
  cursor: pointer;
  /* border-top: 4px solid #F3F4F6; */
  /* border-bottom: 4px solid #F3F4F6; */
}

.section:hover{
  background-color:var(--btn-hover);
}

.show {
  margin-left: auto;
}

.more{
  font-weight: 600;
  max-width: none;
  max-height: none;
  border: 4px solid var(--btn-hover);
  border-radius: 24px;
  padding: 10px;
  align-self: center;
  margin-top: 12px;
  transition: background-color 0.3s;
}

.more:hover{
  background-color: var(--btn-hover);
}

.form-btns{
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.form-btn{
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid gray;
  align-self: center;
  padding: 4px 10px;
  border-radius: 6px;
  color: var(--form-btn-color);
  font-weight: 600;
}

.form-btn.delete{
  margin-right: auto;
}

.form-btn.save{
  background-color: var(--outline-color);
  color: var(--content-background);
  border: 2px solid var(--outline-color);
}

.form-btn img{
  max-height: 15px;
}

.visuals{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.visual-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual{
  height: 50px;
  width: 50px;
  border: 1px solid var(--form-btn-color);
  border-radius: var(--border-radius);
}

.top-visual{
  background: var(--top-gradient);
}

.left-visual{
  background: var(--left-gradient);
}

.right-visual{
  background: var(--right-gradient);
}


.pick-color{
  display: flex;
  align-items: center;
  gap: 12px;
}

input[type="color"]{
  visibility: hidden;
}

.color-picker{
  border-radius: 50%;
  background-color: var(--current-color);
  aspect-ratio: 1/1;
  width: 30px;
}

.font-wrapper{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.font{
  height: 70px;
  width: 50px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border: 1.5px solid var(--form-btn-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.font.clicked{
  background-color: #0E374E;
  color: var(--content-background);
}

.font > p:first-child{
  font-size: 1.4rem;
}

.font#serif{
  font-family: serif;
}

.font#sans{
  font-family: sans-serif;
}

.font#mono{
  font-family: monospace;
}

.cv{
  aspect-ratio: 1/1.41;
  /* background-color: ; */
  min-width: 100%;
  box-shadow: var(--cv-shadow);
  font-family: var(--current-font);
  padding: 0px 5%;
  font-size: 1rem;

}

.cv.top{
  background: var(--top-cv-gradient);
}

.cv.left{
  background:var(--left-cv-gradient);
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 5%;
  padding: 5%;
}

.cv.right{
  background: var(--right-cv-gradient);
  display: grid;
  grid-template-columns:1fr 45%;
  gap: 5%;
  padding: 5%;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14%;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
  color: var(--current-background-color);
}

.cv.right .header{
  grid-area: 1/2/2/3;
  height: 100%;
  width: 95%;
  align-items: start;
  justify-content: start;
  padding-left: 10%;
}

.cv.left .header{
  width: 90%;
  height: 100%;
  justify-content: flex-start;
  align-items: start;
}

.header-wrapper{
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.header-wrapper > div{
  display: flex;
  align-items: center;
}

.cv.left .header-wrapper, .cv.right .header-wrapper{
  flex-direction: column;
}

.header-wrapper > div{
  display: flex;
  gap: 5px;
}

.icon {
  fill: var(--current-background-color);
}

.information{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

.cv-left .info-wrapper{
  width: 50%;
}

.cv.right .info-wrapper{
  grid-column: 1/2;
  min-width: 50%;
}

/* 
*{
  border: 1px solid red;
} */

.info-section{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: min-content min-content;
  grid-auto-rows: min-content;
  padding: 12px;
  column-gap: 12px;
}


h3{
  width: 100%;
  align-self: center;
  background-color: var(--current-background-color);
  color: var(--current-color);
  text-align: center;
}

.template-loader{
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  box-shadow: var(--template-loader-shadow);
  background-color: var(--content-background);
  border-radius: var(--border-radius);
  margin-bottom: var(--gap);
  position: sticky;
  top: 8px;
  gap: 20px;
  font-weight: 600;
}

.clear-resume{
  display: flex;
  align-items: center;
  color: rgb(243, 63, 63);
}

.load-example{
  background-color: var(--input-background);
  width: 50%;
  border-radius: 6px;
  padding: 2px;
}


